/* Reset some basic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fa;
    color: #333;
}

div.center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

div.easy {
    padding: 20px;
}

/* Container for the form */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 700px;
    width: 100%;
}

/* Styling for h1 */
h1 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

p {
    margin: 1em 0 0.5em 0;
    text-align: left;
}

textarea {
    text-align: left;
    width: 100%;
}

/* Input styling */
input[type="file"] {
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 4px;
    border: 2px solid #ddd;
    font-size: 1rem;
    cursor: pointer;
}

/* Upload button styling */
input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Button hover effect */
input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Flash messages styling */
ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

ul li {
    background-color: #d63333;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1rem;
}

/* Extracted text container */
pre {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 4px;
    font-size: 0.9rem;
    color: #444;
    max-width: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-top: 20px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
